.footer {
  grid-area: footer;
  background-color: #0F084B;
  color: #4134bc;
  display: flex;
  align-items: center;
  padding: 3px 15px;
  font-size: 12px;
}
@media (max-width: 900px) {
  .footer  {
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
