@import '../node_modules/normalize.css/normalize.css';
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font: 16px Lato, Arial, Roboto, Helvetica, Arial, sans-serif;
}
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
h1 {
  margin-top: 0;
}