@import '../node_modules/normalize.css/normalize.css';
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font: 16px Lato, Arial, Roboto, Helvetica, Arial, sans-serif;
}
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
h1 {
  margin-top: 0;
}
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@media (max-width: 900px) {
  h1 {
    font-size: 1.5em;
  }
}
