.line-name {
  font-weight: 700;
}
.line-item {
  flex: 1 0 70px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4feff;
  font-size: 19px;
  border: 1px solid #8dc1c9;
  margin: 2px;
  padding: 5px 12px;
  text-align: center;
}
.line-item-stop {
  background: none;
  border: none;
  text-align: left;
  justify-content: flex-start;
  height: auto;
  margin: 10px 0;
}
.line-item-stop .line-name {
  margin-right: 10px;
}
.routes {
  font-weight: 400;
  padding-left: 20px;
}
